<template>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign up to continue to To Do App</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signup">
                  <input type="text" class="form-control" placeholder="User name" required autofocus v-model="username">
                  <input type="text" class="form-control" placeholder="Email" required v-model="email">

                  <input type="password" class="form-control" placeholder="Password" required v-model="password">
                  <button class="btn btn-lg btn-primary btn-block" type="submit" @click.prevent="signUp(username, email, password)">
                      Sign up</button>
                  <label class="checkbox pull-left">
                      <input type="checkbox" value="remember-me">
                      Remember me
                  </label>
                  <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <router-link to="sign-in" class="text-center new-account">Back to Sign In</router-link>
        </div>
    </div>
</div>
</template>

<style scoped>
.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}
</style>

<script>
import CB from "../cloudboost";

export default {
  data() {
    return {
      username: "",
      email: "",
      password: ""
    };
  },
  mounted() {},
  methods: {
    signUp(username, email, password) {
      var self = this;
      var user = new CB.CloudUser();
      user.set("username", username);
      user.set("password", password);
      user.set("email", email);
      console.log(user);
      user.signUp({
        success: (user) => {
          self.$router.push({
            path: '/'
          });
        }, 
        error: (err) => {
          console.log(err);
          alert(err);
        }
      });
    }
  }
};
</script>
