<template>
  <div class="container">
		<header>
			<h1>Todos</h1>
			<div class="time">{{ now }}</div>
		</header>
		<ul class="items">
      <li class="item" v-for="work in works" :key="work._id">
        <h2 class="title">{{ work.title }}</h2>
        <p class="comment">{{ work.comment }}</p>
        <div class="actions">
          <i class="fa fa-trash-o" alt="Delete" @click="remove(work._id)"></i>
        </div>
      </li>
		</ul>
		<div class="new">
			<h1>New</h1>
			<div class="new-item">
				<input type="text" placeholder="Todo Title.." v-model="title">
				<textarea placeholder="Todo Description.." maxlength="256" v-model="comment"></textarea>
			</div>
      <button @click="logout">Log out</button>
			<button @click="addNew">Add</button>
		</div>
	</div>
</template>

<style scoped>
body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  margin-top: 100px;
}
h1 {
  font-size: 24px;
  color: #6fc9fa;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 24px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
p {
  font-size: 22px;
  color: #8b8b8b;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}
li {
  width: 400px;
  min-height: 120px;
  background: #222222;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  position: relative;
}
textarea:focus,
input:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  font-size: 22px;
  color: #41403e;
  line-height: 30px;
}
:-moz-placeholder {
  font-size: 22px;
  color: #41403e;
  line-height: 30px;
}
::-moz-placeholder {
  font-size: 22px;
  color: #41403e;
  line-height: 30px;
}
:-ms-input-placeholder {
  font-size: 22px;
  color: #41403e;
  line-height: 30px;
}
.container {
  width: 420px;
  margin: 0 auto;
}
header {
  position: relative;
}
.time {
  font-size: 22px;
  color: #8b8b8b;
  position: absolute;
  bottom: 0;
  right: 0;
}
.actions {
  transition: color 0.5s ease;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 22px;
  color: #8b8b8b;
}
.fa {
  transition: color 0.5s ease;
}
.actions > .fa-trash-o:hover {
  color: #f73f36;
  cursor: pointer;
}
.new {
  margin-top: 50px;
  position: relative;
}
.new-item {
  width: 400px;
  min-height: 120px;
  background: #222222;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}
.new > h1 {
  color: #52f171;
}
.new-item > input {
  line-height: 30px;
  width: 96%;
  background: #222222;
  border: 0;
  line-height: 30px;
  color: #ffffff;
  font-size: 18px;
}
.new-item > textarea {
  width: 96%;
  background: #222222;
  resize: none;
  font-size: 22px;
  color: #8b8b8b;
  line-height: 30px;
  border: 0;
  font-size: 18px;
}
.new > button {
  position: absolute;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
  background: #41403e;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  border: 0;
  font-size: 18px;
  color: #ffffff;
  line-height: 27px;
  right: 0;
}
.new > button:hover,
button:active {
  background-color: #222222;
  color: #6fc9fa;
  outline: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

<script>

import CB from '../cloudboost'

export default {
  data() {
    return {
      title: "",
      comment: "",
      now: "",
      works: []
    };
  },
  mounted() {
    var self = this;

    if (!this.isLoggedIn()) {
      this.$router.push({
        path: '/sign-in'
      })
      return
    }

    setInterval(() => {
      var current = new Date();
      this.now = `${current.getHours()} : ${current.getMinutes()} : ${current.getSeconds()}`;
    }, 1000);

    this.gets(result => {
      if (result.works && result.works.length > 0) {
        result.works.forEach(obj => {
          self.works.push({
            _id: obj.get("_id"),
            title: obj.get("title"),
            comment: obj.get("comment")
          });
        });
      }
    });

    CB.CloudObject.on("Works", "created", obj => {
      if (obj) {
        self.works.push({
          _id: obj.get("_id"),
          title: obj.get("title"),
          comment: obj.get("comment")
        });
      }
    });

    CB.CloudObject.on("Works", "updated", obj => {
      if (obj) {
        self.works.forEach(work => {
          if (work._id == obj.get("_id")) {
            work.title = obj.get("title");
            work.comment = obj.get("comment");
          }
        });
      }
    });

    CB.CloudObject.on("Works", "deleted", obj => {
      if (obj) {
        var idx = self.works.findIndex(work => {
          return work._id == obj.get('_id');
        });

        if (idx > -1) {
          self.works.splice(idx, 1);
        }
      }
    });
  },
  methods: {
    isLoggedIn() {
      var currentUser = CB.CloudUser.current;
      if (currentUser) {
        return true
      } 
      return false
    },
    gets(cb) {
      var query = new CB.CloudQuery("Works");
      query.find({
        success: list => {
          return cb({
            works: list
          });
        },
        error: err => {
          return cb({
            error: err
          });
        }
      });
    },
    addNew() {
      var self = this;

      if (!this.title) {
        alert("Nhap title");
        return;
      }

      if (!this.comment) {
        alert("Nhap comment");
        return;
      }

      var obj = new CB.CloudObject("Works");
      obj.set("title", this.title);
      obj.set("comment", this.comment);

      obj.save({
        success: obj => {
          this.title = "";
          this.comment = "";
        }
      });
    },
    remove(_id) {
        var query = new CB.CloudQuery("Works");
        query.get(_id, {
          success: obj => {
            obj.delete()
          }
        })
    },
    logout() {

    }
  }
};
</script>
